@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");

/* easteregg */
/* .easteregg{
    text-align: center;
    text-decoration: underline;
    font-family: source code pro;
    margin: 48vh;
    font-family: "Smooch", cursive;
} */
/* .parent:hover{
background-color: rgba(46, 139, 86, 0.396);
} */

/* html page */
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: gainsboro; /* achtergrond kleur */
}
header {
  background-color: #86bcdd; /* header kleur */
  box-shadow: 0px 0px 10px;
  padding: 10px;
}
/* nav-bar */
nav {
  padding: 10px;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: rgba(70, 109, 236, 0.8); /* links die in nav tag zitten kleur */
  transition-duration: 250ms;
  padding: 5px;
}
nav a:hover {
  font-size: larger;
  padding: 5px 15px 5px 15px;
  border-top: solid greenyellow 2px; /* border wnr hover kleur */
}
.box {
  background-color: green;
  margin: 5%;
 
}

/* GRID LAYOUT */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 3px;
  padding-top: 3%;
  margin: 3%;
  margin-top: 6%;
  background-color: rgba(24, 72, 230, 0.708);
  padding-bottom: 4%;
  border-radius: 5px;
  transition-duration: 800ms;
}
/* Body Content */
.foto1 {
  height: 350px;
  border: 5px black double;
  /* outline: 3px solid green; */
  background-color: rgba(84, 91, 230, 0.657);
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  float: left;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  float: right;
}
.tks {
  text-decoration: underline;
}

.title1 {
  text-align: center;
  text-decoration: underline;
}
.tekst2 {
    margin-left: 20%;
    margin-right: 20%;
}
/* footer */
footer {
  background-color: rgb(49, 49, 49);
  height: 4.99%;
  width: 100%;
  color: white;
  position: fixed;
  bottom: 0;
  padding: 10px;

}
.glrLogo {
  float: right;
  height: 60px;
  width:  auto;
  position: absolute;
  top: 5px;
  bottom: 25px;
  right: 70px;
}
.glrLogoText {
  float: right;
  margin: 0;
  width: auto;
  position: relative;
  bottom: 10px;
  right: 130px;

}
.link{
  color: white;
}

